/******************************
Top Nav General Styling
*******************************/

header {
    padding: 10px 0;
    margin: 0 auto;
    color: #F5F5F5;
}

header h1 {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    max-width: 500px;
    padding: 0;
    padding-left: 40px;
    margin-bottom: 1em;
}

.logo-icon {
    width: 100%;
}


/******************************
BODY Styling
*******************************/

body {
    background: #2B313B;
    color: #90a1be;
}


#myform ul li {
    color: #d2241d;
}

button {
    margin-top: 2em;
}
/******************************
    First Page
*******************************/
/*div wrapping the form*/

/*form*/
#myform {
    padding: 0.5em;
}

/*Button Validation first page Styling*/
#louvre_bookingbundle_booking_submit,
#booking_second_step_submit
{
    margin-top: 3em;
    margin-bottom: 1em;
}



/******************************
    Second Page
*******************************/
##retourPageOne {
    margin-top: 1em;
 }

/******************************
Summary Page Styling
*******************************/
#ticketBack a{
    color: #FFF;
}


/******************************
Confirmation Page Styling
*******************************/
.msgbooking {
    color: #FFFFFF;
}


/******************************
FOOTER Styling
*******************************/

.footer {
    padding: 20px;
    font-size: 1.3em;
    /*margin-top: 40px;*/
}

.footer {
    justify-content: center;
    text-align: center;
}

.footer-text {
    color: #F5F5F5;
}