{% extends "@Booking/layout.html.twig" %}

{% block head %}
    {{ parent() }}
    {%  block title %}Billeterie - Visiteurs{% endblock %}
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row summary">
            <h2>Récapitulatif de votre résevation</h2>
            <ul>
                <li>Ticket #{{ booking.id }}</li>
                <li>Billets</li>
                <li>Nombre</li>
                <li>Prix</li>
            </ul>

            <br>

            <ul>
                <li><strong>Total TTC</strong></li>
                <li>00</li>
                <li>00 €</li>
            </ul>
        </div>
    </div>

{% endblock %}