{% extends "@Booking/layout.html.twig" %}

{% block head %}
    {{ parent() }}
    {%  block title %}Billeterie - Visiteurs{% endblock %}
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row summary">
            <h2>Payement</h2>

        </div>
    </div>

{% endblock %}