{% extends "@Booking/layout.html.twig" %}

{% block head %}
    {{ parent() }}
    {%  block title %}Billeterie{% endblock %}
{% endblock %}

{% block body %}

<div class="row">
    <div class="container">
        <div class="row">
            {{ form(form, {attr: {novalidate: "novalidate"}}) }}
        </div>
    </div>
</div>

{% endblock %}