{#Temporary styling in order to avoid staring at white background#}
<style>
    body {
        background-color: #6c6159;
    }
</style>

<h1>New Booking</h1>
{{ form_start(form, {"attr": {"novalidate": "novalidate"}}) }}
{{ form_widget(form) }}
{{ form_end(form) }}