{% extends "@Booking/layout.html.twig" %}

{% block head %}
    {{ parent() }}
    {%  block title %}Billeterie - Visiteurs{% endblock %}
{% endblock %}

{% block body %}

    <div class="container ">

        <div class="row col-md-6 col-md-offset-3" id="second">

            {{ form(form, {attr: {novalidate: "novalidate", "class": "{#form-inline#} secondStepForm"}}) }}

        </div>

    </div>

{% endblock %}