{% extends "@Booking/layout.html.twig" %}

{% block head %}
    {{ parent() }}
    {%  block title %}Billeterie{% endblock %}
{% endblock %}

{% block body %}
    <h2>Tickets</h2>

    {{ reservation.clientEmail }}

    {{ form(form, {attr: {novalidate: "novalidate"}}) }}

{% endblock %}